.sub-container {
  border-radius: 15px;
  background-color: #ffffff;
  margin: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #070909;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #070909;
}
