body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #e8e8e8;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #000;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000;
  color: white;
}

#main_box {
  height: 500px;
  border-radius: 15px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main_row {
  border-radius: 15px;
  background-color: #ffffff;
  margin: 10px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.row {
  text-align: center;
  background-color: #ffffff;
}

#guest_form {
  text-align: left;
}

#guest_btn {
  margin-left: 160px;
}
/* CSS */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #000;
  box-shadow: 0px 15px 20px rgba(47, 48, 48, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
